.admin-wrap {
    justify-content: center;
    align-items: center;
    pointer-events: none;
    opacity: 0;
}

.admin-modal {
    width: 75%;
    height: 75%;
    background-color: grey;
    display: flex;
    justify-content: space-evenly;
}

.selected{
    color: white;
}

.open {
    opacity: 1;
    pointer-events: all;
}

